/target
/Cargo.lock
/node_modules
/pnpm-lock.yaml
/dist
/bundle
/es5
/babel
/esbuild
/vite
/rsbuild
/rspack
/rollup
/rolldown
/*.zip
/bun.lock
/bunup
/.kiro
/tsc
/esbuild-tsc
/webpack
/swc
/farm
/.parcel-cache
